@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Press+Start+2P&display=swap');

body{
  background-color: #FFE9D0;
}


.game-info{
  margin-left: -40px;
  display: flex;
  justify-content: center;
}
.board{
  margin-top: 11vh;
  margin-bottom: 8vh;
}
.board-row{
  display: flex;
  justify-content: center;
  margin: -1px;
}
.status{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 55px;
}
h1{
  font-family: 'Press Start 2P', cursive;
  margin-top: 60px;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
}
.retry{
  display: flex;

  justify-content: center;
  align-content: center;;
}
.retry>button{
  background-color: #FFE9D0;
  font-family: "Hanalei Fill";
  font-size: x-large;
  border-radius: 5px;
  border-width: 2px;
  width: 100px;
  height: 40px;
}
.retry>button:hover{
  background-color: #e6c5a1;
}
@media (width <= 1250px) {
  .board{
    margin-top: 9vh;
    margin-bottom: 8vh;
  }
  h1{
      font-family: 'Press Start 2P', cursive;
      margin-top: 60px;
      text-align: center;
      font-size: 33px;
      font-weight: bolder;
    
  }
  .status{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 40px;
  }
}

