.square{
    background-color: white;
    width: 50px;
    height: 50px;
    font-size: xx-large;
    font-weight: bolder;
    border: solid black 3px;
  }
button:hover{
    background-color: white;
}